# App
PORT=3000
NODE_ENV=development
JWT_SECRET=troque-por-um-segredo-bem-grande
JWT_EXPIRES_IN=8h


# MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=sua_senha
DB_NAME=db_sistema_ponto


# Uploads
UPLOAD_DIR=uploads
MAX_FILE_SIZE_MB=5